<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div id="app" class="container">
        <p>
            <span>First Name: {{fName}}</span>
        </p>
        <p>
            <span>Middle Initial: {{MI}}</span>
        </p>
        <p>
            <span>Last name: {{lName}}</span>
        </p>
        <p>
            <span>Age: {{age}}</span>
        </p>
        <p>
            <span>Gender: {{gender}}</span>
        </p>
        <p>
            <span>Address: {{add}}</span>
        </p>

        <button @click="register" class="btn btn-primary">Register</button>
        <br><br>
        <div>
            <a :class="className" href="https://web.facebook.com/?_rdc=1&_rdr">Link to facebook</a>
        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./assets/js/script.js"></script>

</body>

</html>